.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.questionContainer {
    background-color: rgba(255, 255, 255, 0.186);
    padding: 20px;
    width: 500px;
    height: 250px; /* Increased height to accommodate error message */
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 7px;
}

.ratingBoxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ratingBox {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.8); 
}

.ratingBox.selected {
    background-color: grey; /* Change this to your desired selected color */
    color: white;
}

.ratingBox:hover {
    background-color: var(--iconColor);
}

.nextButton {
    display: flex;
    justify-content: flex-end;
}

.errorMessageFeedback {
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

